.form{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.groupForm{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    width: 30rem;
    height: 20rem;
    padding: 0px;
    padding-bottom: 70px;
}

.tool{
    text-align: center;
    padding: 30px;
}

.inputs{
    padding: 5px 0px;
}